.au-c-badge {
  background-color: var(--au-blue-200);
  color: var(--au-blue-700);
  width: 28px;
  height: 28px;
}

.au-c-control-group {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.au-c-toaster--top {
  top: 6rem;
  flex-direction: column;
}
.au-c-toaster {
  position: fixed;
  display: flex;
  gap: 1.2rem;
  right: 2.4rem;
  z-index: 9999999;
  width: 320px;
}
.au-c-alert {
  margin-bottom: 0rem;
}

@media (min-width: 100em) {
  .au-c-main-container__sidebar {
    flex-basis: 356px;
  }
}

@media (min-width: 63.9375em) {
  .au-c-main-container__sidebar {
    --sidebar: 300px;
  }
}

.visibility-hidden {
  visibility: hidden;
}
