.star-icon {
  background-color: var(--au-blue-200);
  color: var(--au-blue-700);
  width: 28px;
  height: 28px;
}

.au-c-input-wrapper {
  width: 100%;
}

.au-c-control-group {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.au-c-toaster--top {
  top: 6rem;
  flex-direction: column;
}
.au-c-toaster {
  position: fixed;
  display: flex;
  gap: 1.2rem;
  right: 2.4rem;
  z-index: 9999999;
  width: 320px;
}
.au-c-alert {
  margin-bottom: 0rem;
}

@media (min-width: 100em) {
  .au-c-main-container__sidebar {
    flex-basis: 356px;
  }
}

@media (min-width: 63.9375em) {
  .au-c-main-container__sidebar {
    --sidebar: 300px;
  }
}

.visibility-hidden {
  visibility: hidden;
}

.underline {
  text-decoration: underline;
}
.underline:hover {
  cursor: pointer;
}

.u-shrink-column {
  width: 1px !important;
}

.contact-details-edit-table {
  td {
    // Fix alignment issue with the input field and select
    vertical-align: top; // We use top so everything is still aligned when error messages are displayed
  }

  // Fix the checkbox alignment
  .au-c-control--checkbox {
    align-items: center;
  }

  .au-c-control__indicator {
    margin-top: 0;
    bottom: unset;
  }
}

.contact-type-select {
  width: 300px;
}
