.au-c-badge {
    background-color: var(--au-blue-200);
    color: var(--au-blue-700);
    width: 28px;
    height: 28px;
}

.au-c-control-group {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
