<div class="au-o-grid au-o-grid--small">
  <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
    <AuHeading @level="2" @skin="5">Filter verenigingen</AuHeading>
    <AuHr />
    <AuInput
      class="au-u-margin-bottom au-u-margin-top"
      placeholder="zoek op vCode, naam, hoofdactiviteit of contactpersoon"
      @icon="search"
      @iconAlignment="right"
      @width="block"
      @value={{@search}}
      oninput={{perform @updateSearch value="target.value"}}
    />
    <AuLabel for="filter-name">Hoofdactiviteiten</AuLabel>
    <AuCheckboxGroup as |Group|>
      <Group.Checkbox @value="checkboxOne">Burgerinitiatief & Actiegroep
      </Group.Checkbox>
      <Group.Checkbox @value="checkboxTwo">Mediawijsheid & Digitale
        geletterdheid
      </Group.Checkbox>
      <Group.Checkbox @value="checkboxThree">Buurtwerking & Wijkcomité
      </Group.Checkbox>
    </AuCheckboxGroup>
  </div>
  <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
    <AuLabel for="filter-municipality">Postcode</AuLabel>
    <AuCheckboxGroup as |Group|>
      <Group.Checkbox @value="checkboxOne">9300 – Aalst</Group.Checkbox>
      <Group.Checkbox @value="checkboxTwo">9308 – Aalst</Group.Checkbox>
      <Group.Checkbox @value="checkboxThree">9310 – Aalst</Group.Checkbox>
      <Group.Checkbox @value="checkboxThree">9311 – Aalst</Group.Checkbox>
    </AuCheckboxGroup>
  </div>
  <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
    <AuLabel for="filter-municipality">Erkenning</AuLabel>
    <AuCheckboxGroup as |Group|>
      <Group.Checkbox @value="checkboxOne">Erkend</Group.Checkbox>
      <Group.Checkbox @value="checkboxOne">Niet erkend</Group.Checkbox>
    </AuCheckboxGroup>
  </div>
  <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
    <AuLabel for="filter-municipality">Doelgroep</AuLabel>
    <AuCheckboxGroup as |Group|>
      <Group.Checkbox @value="checkboxOne">-18</Group.Checkbox>
      <Group.Checkbox @value="checkboxThree">18+</Group.Checkbox>
      <Group.Checkbox @value="checkboxThree">65+</Group.Checkbox>
    </AuCheckboxGroup>
  </div>
  <div class="au-o-grid__item">
    <AuButton @skin="tertiary" type="reset">
      <AuIcon @icon="cross" @alignment="left" />
      Herstel alle filters
    </AuButton>
  </div>
</div>