<div ...attributes>
  <div>
    <AuContentHeader @titlePartOne="Vlaanderen" @titlePartTwo="Digitaal Loket">
      <img
        sizes="50vw"
        src="/assets/images/loket-header-1600.jpg"
        srcset="/assets/images/loket-header-320.jpg 320w, /assets/images/loket-header-1024.jpg 1024w, /assets/images/loket-header-1600.jpg 1600w"
        alt=""
      />
    </AuContentHeader>

    {{yield}}
  </div>
  <WithFooter />
</div>