{{page-title "Vereniging"}}

<div class="au-u-flex au-u-flex--vertical-center au-u-margin-top">
  <AuHeading @level="1" @skin="2">Bekijk vereniging</AuHeading>
  <AuHeading @level="2" @skin="5" class="au-u-margin-left-large">Vereniging {{@model.id}}</AuHeading>
</div>
<AuTabs as |Tab|>
  <Tab>
    <AuLink @route="associations.association.general">Algemeen</AuLink>
  </Tab>
  <Tab>
    <AuLink @route="associations.association.contact-detail">Contactgegevens </AuLink>
  </Tab>
  <Tab>
    <AuLink @route="associations.association.location">Locaties </AuLink>
  </Tab>
  <Tab>
    <AuLink @route="associations.association.representatives">Vertegenwoordigers </AuLink>
  </Tab>
</AuTabs>
<AuBodyContainer>
  {{outlet}}
</AuBodyContainer>