.c-edit-table {
  td {
    // Fix alignment issue with the input fields and selects
    vertical-align: top; // We use top so everything is still aligned when error messages are displayed
  }

  // Fix the checkbox alignment
  .au-c-control--checkbox {
    align-items: center;
  }

  .au-c-control__indicator {
    margin-top: 0;
    bottom: unset;
  }
}

// Error state based on Webuniversum: https://www.vlaanderen.be/vlaanderen-design-system/componenten/data-table
.c-edit-table-row--error {
  background: #fbebec !important;
  border-bottom: 0.1rem solid #d2373c !important;

  &:hover {
    background: #f3f5f6 !important;
  }
}
