<div>
<AuCard
  as |c|
>
  <c.header
  >
    <AuHeading @level="2" @skin="4">
   Contact
    </AuHeading>
    <p>
      {{this.subtitle}}
    </p>
  </c.header>
  <c.content>
    <p>{{this.content}}</p>
  </c.content>
  <c.footer>
  </c.footer>
</AuCard>
</div>