<div>
  <AuCard as |c|>
    <c.header>
      <AuHeading @level="2" @skin="4">
        General
      </AuHeading>
      <p>
        {{this.subtitle}}
      </p>
    </c.header>
    <c.content>
      <AuHeading @level="1" @skin="2">Bekijk vereniging</AuHeading>
      <AuHeading @level="2" @skin="5" class="au-u-margin-left-large">Vereniging
        {{@model.id}}</AuHeading>
    </c.content>
    <c.footer />
  </AuCard>
</div>