<div class="au-u-flex au-u-flex--vertical-end">
  <AuButtonGroup>
    <AuLink
      @route="association.recognition.index"
      @skin="button-secondary"
      @disabled={{this.disabled}}
      @onClick={{this.onCancel}}
    >
      Annuleer
    </AuLink>

    <AuButton
      type="submit"
      form="recognition-form"
      @skin="primary"
      @loading={{@isLoading}}
      @loadingMessage="Aan het opslaan"
    >
      Opslaan
    </AuButton>
  </AuButtonGroup>
</div>