{{page-title "Mock login"}}

<StaticPage
  class="au-c-body-container au-c-body-container--scroll au-u-flex--between"
>
  <div class="au-o-layout au-o-region-large">
    <div class="au-u-flex">
      <AuLoader />
    </div>
  </div>
</StaticPage>