{{page-title "Mock login"}}

<StaticPage
  class="au-c-body-container au-c-body-container--scroll au-u-flex--between"
>
  <div class="au-o-layout au-o-region-large">
    <AuLoader class="au-u-margin-huge">Bestuurseenheden aan het laden</AuLoader>
  </div>
</StaticPage>